.window {text-align:center;vertical-align:central;border:1px dashed  black;}
.guibox { margin-left:30%;min-width:10em;width:40% ;margin-right:30%;border:1px solid black;}
.commandButton { width:25%; }